html {
  font-family: "Oswald", sans-serif !important;
}
.falun {
  background: url("../logos/falun.jpg");
  height: 100vh;
  background-repeat: no-repeat;

  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  background-image: url("../logos/JACT_white.png");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 70%;
  padding: 200px;
}

/* @media only screen and (max-width: 600px) {
  .falun {
    background-position-x: -400px;
  }
} */

@media only screen and (max-width: 950px) {
  .falun {
    background-position-x: -350px;
  }
}
