<!-- denna ska vaar i admin dashboard -->
<!-- <li *ngIf="authService.isLoggedIn" class="nav-item">
  <a class="nav-link" (click)="authService.logout()">Logout</a>
</li> -->

<div id="main_menu">
  <div class="inner_main_menu">
    <a href="/main" class="test"></a>
    <ul>
      <li>
        <a href="/plyerof2morrow">
          <i><fa-icon [icon]="faCameraRetro"></fa-icon></i>Players of
          tomorrow</a
        >
      </li>

      <li>
        <a href="#" data-toggle="modal" data-target="#contactUs">Contact Us</a>
      </li>
      <li><a href="#" data-toggle="modal" data-target="#about">About</a></li>
    </ul>
  </div>
</div>
<!-- modal till kontakta oss -->
<div
  class="modal fade contactUs"
  id="contactUs"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content about">
      <div class="socialmedia">
        <a target="_blank" href="http://www.facebook.com/JACT.eu/">
          <i><fa-icon [icon]="faFacebook" class="fb" size="4x"></fa-icon></i
        ></a>
        <a target="_blank" href="http://www.instagram.com/JACT.eu"
          ><i
            ><fa-icon [icon]="faInstagram" class="insta" size="4x"></fa-icon></i
        ></a>
      </div>
    </div>
  </div>
</div>

<!-- modal till about -->
<div
  class="modal fade about"
  id="about"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content about1">
      <div class="modal-text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
          ab similique odio nemo iusto omnis libero. Accusantium neque rem, odit
          maiores numquam ad nemo quam corrupti, ab molestias, officiis non?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
          ab similique odio nemo iusto omnis libero. Accusantium neque rem, odit
          maiores numquam ad nemo quam corrupti, ab molestias, officiis non?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
          ab similique odio nemo iusto omnis libero. Accusantium neque rem, odit
          maiores numquam ad nemo quam corrupti, ab molestias, officiis non?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
          ab similique odio nemo iusto omnis libero. Accusantium neque rem, odit
          maiores numquam ad nemo quam corrupti, ab molestias, officiis non?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
          ab similique odio nemo iusto omnis libero. Accusantium neque rem, odit
          maiores numquam ad nemo quam corrupti, ab molestias, officiis non?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
          ab similique odio nemo iusto omnis libero. Accusantium neque rem, odit
          maiores numquam ad nemo quam corrupti, ab molestias, officiis non?
        </p>
        <div class="newlogo"></div>
      </div>
    </div>
  </div>
</div>
