.inner_main_menu {
  margin: 0 auto;
  width: 100%;
  height: 79px;
  font-family: "Oswald";
  background-image: url("../logos/jactmanagement_menybar.png");
  display: flex;
  justify-content: space-evenly;
}

.inner_main_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  display: flex;
  align-items: center;
}

.inner_main_menu ul li {
  float: none;
  display: inline-block;
  padding-right: 81px;
}

.inner_main_menu ul li a {
  color: #262626;
  font-size: 20px;
  text-transform: uppercase;
  display: block;
  padding: 10px 20px;
}

.inner_main_menu ul li a:hover {
  color: #bd7642;
  text-decoration: none;
}

i {
  margin-right: 7px;
}

.modal-content.about {
  background-image: url("../logos/13561771_160089587737725_592431227_n.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px !important;
  margin-top: 100px !important;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.socialmedia {
  float: right;
  padding: 10px 20px 10px 20px;
}

.fb {
  margin-right: 30px;
}

.contactjact {
  color: #bd7642;
  font-size: 15px;
  float: left;
  margin-right: 435px;
}
/* till about */
.modal-text {
  padding: 50px 50px 50px 50px;
  font-size: 20px;
  line-height: 1.6;
}

.modal-content.about1 {
  opacity: 0.9;
  /* height: 700px !important; */
  margin-top: 100px !important;
}

.newlogo {
  background-image: url("../logos/logo2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
}

.test {
  background-image: url("../logos/jactmanagement_menybar.png");
  width: 335px;
  height: 76px;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}
