<div class="logo">
  <div class="container">
    <div>
      <h1 class="admin">ADMIN LOGIN</h1>

      <form>
        <div class="form-group">
          <label for="Username">Username</label>
          <input
            type="username"
            class="form-control"
            ngModel
            id="username"
            name="username"
            placeholder="Username"
            #username="ngModel"
            required
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            ngModel
            id="password"
            name="password"
            placeholder="Password"
            #password="ngModel"
          />
        </div>

        <button
          (click)="authService.login(username.value, password.value)"
          class="btn btn-primary login"
        >
          LOGIN
        </button>
      </form>
    </div>
  </div>
</div>
