.one {
  background-image: url("../logos/imageedit_14_3060582876.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  box-shadow: inset 1px 1px 11px 7px rgba(0, 0, 0, 0.2),
    inset 20px 19px 20px 20px rgba(0, 0, 0, 0.19);
  box-shadow: 0 0 8px 8px #272727 inset;
  filter: sepia();
}

.two {
  background-image: url("../logos/falun6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 1px 1px 11px 7px rgba(0, 0, 0, 0.2),
    inset 20px 19px 20px 20px rgba(0, 0, 0, 0.19);
  height: 700px;
  box-shadow: 0 0 8px 8px #272727 inset;
  filter: sepia();
}

.three {
  background-image: url("../logos/falun10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 1px 1px 11px 7px rgba(0, 0, 0, 0.2),
    inset 20px 19px 20px 20px rgba(0, 0, 0, 0.19);
  box-shadow: 0 0 8px 8px #272727 inset;
  height: 700px;
  filter: sepia();
}

.four {
  background-image: url("../logos/sirius2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 1px 1px 11px 7px rgba(0, 0, 0, 0.2),
    inset 20px 19px 20px 20px rgba(0, 0, 0, 0.19);
  box-shadow: 0 0 8px 8px #272727 inset;
  height: 700px;
  filter: sepia();
}

.carousel.slide {
  margin-top: 100px;
  background: #333333;
  opacity: 0.8;
}

h3 {
  color: gainsboro;
  letter-spacing: 10px;
  font-size: 26px;
  margin-bottom: 15px;
}

p {
  letter-spacing: 8px;
  font-size: 20px;
  font-weight: 500;
  color: #adb5bd;
}

.clubb-name {
  background-image: linear-gradient(
    to right,
    rgb(151, 151, 151),
    rgb(0, 0, 0) 400px,
    rgb(149, 149, 149) 800px
  );
  opacity: 0.8;
  /* background-position: center; */
  border-radius: 5px;
  width: 60%;
  margin-left: 352px;
}
