<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item one active">
      <img
        class="d-block w-100"
        src="..."
        height="300px"
        width="300px"
        alt=""
      />
      <div class="carousel-caption d-none d-md-block">
        <div class="clubb-name">
          <h3>JAKOB MALMGREN</h3>
          <p>STORVRETA</p>
        </div>
      </div>
    </div>
    <div class="carousel-item two">
      <div class="carousel-caption d-none d-md-block">
        <div class="clubb-name">
          <h3>JAKOB MALMGREN</h3>
          <p>STORVRETA</p>
        </div>
      </div>
    </div>
    <div class="carousel-item three">
      <img class="d-block w-100" src="..." alt="" />
      <div class="carousel-caption d-none d-md-block">
        <div class="clubb-name">
          <h3>JAKOB MALMGREN</h3>
          <p>STORVRETA</p>
        </div>
      </div>
    </div>
    <div class="carousel-item four">
      <img class="d-block w-100" src="..." alt="" />
      <div class="carousel-caption d-none d-md-block">
        <div class="clubb-name">
          <h3>JAKOB MALMGREN</h3>
          <p>STORVRETA</p>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
